.scroller {
  scrollbar-color: $primary #F6F6F9;
  scrollbar-width: 11px;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: #F6F6F9;
}

::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 8px;
}
