// --- Colors ---
$background: #cdd8e1;
$background-light: #ebeef3;
$body-bg: #eff1f4;

$primary: #84037e;
$info: #364299;
$success: #29b52e;
$info: #34b8cc;
$dark: #121f2b;

// --- Navs ---

$nav-tabs-border-width: 0;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: $body-bg;
$nav-tabs-link-active-border-color: transparent;
